@import "tailwindcss";

:root{
    --primary: #8ed973;
    --secondary: #0dc468;
    --danger: #ff4d4f;
    --warning: #ffec3d;
    --info: #1890ff;
    --success: #0dc468;
}
@layer components {
    .btn {
        padding: 0 1rem;
        border-radius: 0.25rem;
        color: #fff;
        font-weight: 600;
        border: none;
        height: fit-content;
        cursor: pointer;
    }
    .btn:hover {
        filter: brightness(0.9);
    }
    .btn-primary {
        background-color: var(--primary);
    }
    .btn-secondary {
        background-color: var(--secondary);
    }
    .btn-danger {
        background-color: var(--danger);
    }
    .btn-warning {
        background-color: var(--warning);
    }
}